body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

html {
  scroll-behavior: smooth;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading_container h2 {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.heading_container h2::before,
.heading_container h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 1px;
  background-color: #fec016;
}

.heading_container h2::before {
  left: -5px;
  transform: translate(-100%, -50%);
}

.heading_container h2::after {
  right: -5px;
  transform: translate(100%, -50%);
}



#navbarSupportedContent {
  display: flex;
  justify-content: center;
  /* Center vertically */
  text-align: center;
  /* Align text in child elements */
  position: relative;
  /* Ensure it can be shifted using transform */
  transform: translateX(-6%);
  /* Counteract the left position for proper placement */
}

/* Header Section */
.hero_area {
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
}

.header_section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header_section .container-fluid {
  height: 4rem;
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: none;
  color: #170f39;
  font-size: 18px;
}

.user_option {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.user_option img {
  width: 30px;
  height: auto;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.slider_section .detail-box h1 {
  font-size: 4rem;
  text-transform: none;
  color: #000;
  /* Default color for the rest of the text */
}

#request-a-call-back {
  scroll-margin-top: 10vh;
  /* Offset the section to be centered in the viewport */
}

.contact_section.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.contact_section {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.team_section.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.carousel-indicators {
  position: absolute;
  bottom: -35%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.team_section {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

#meet-the-team {
  scroll-margin-top: 25vh;
  /* Offset the section to be centered in the viewport */
}

#what-we-do {
  scroll-margin-top: 10vh;
  /* Offset the section to be centered in the viewport */
}

.slider_section .detail-box h1 .highlight {
  color: #4ED37C;
  /* Initial color of "AI" */
  transition: color 1s ease, text-shadow 1s ease;
}

.slider_section .detail-box h1 .highlight:hover {
  color: #1be74b;
  /* Glowing color for "AI" */
  text-shadow: 0 0 10px #78fa28, 0 0 20px #78fa28, 0 0 30px #78fa28;
}

/* Slider Section */
.slider_section {
  height: 90%;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.slider_section .detail-box {
  text-align: center;
  margin-bottom: 110px;
}

.slider_section .detail-box h1 {
  font-size: 6rem;
}

.slider_section .detail-box h2 {
  text-transform: uppercase;
}

.slider_section .detail-box p {
  margin-top: 25px;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 55px;
  background: linear-gradient(to right, #593CD4, #4ED37C);
  border: 3px solid #ffffff;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 35px;
}

.btn_on-hover {
  background: linear-gradient(to right, #593CD4, #4ED37C);
}

.slider_section .detail-box a:hover {
  background: transparent;
  color: #ffffff;
}

/* Footer Section */
.footer_section {
  background-color: #232323;
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 20px 65px;
  border-top: 1px solid #ffffff;
}

.footer_section a {
  color: #12508f;
}

/* Team Section */
.team_section .team_box {
  text-align: center;
  padding: 20px;
}

.team_section .img-box img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.team_section .detail-box h5 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.team_section .detail-box p {
  margin: 5px 0;
  font-size: 14px;
  color: #170f39;
}

.team_section .social_icons a {
  margin: 0 5px;
  display: inline-block;
}

.team_section .social_icons img {
  width: 24px;
  height: 24px;
}

/* Contact Section */
.contact_section .contact-form {
  padding: 25px;
  border-radius: 20px;
}

.contact_section .contact-form input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  margin: 15px 0;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.contact_section .contact-form button {
  border: none;
  outline: none;
  padding: 12px 50px;
  text-transform: uppercase;
  margin-top: 25px;
  background-color: #fec913;
  color: #fff;
  border-radius: 30px;
}

.contact_section {
  width: 80%;
  margin: 25px auto 0 auto;
}

.contact_section img {
  width: 100%;
}